body {
	background-color: #e4e4e4;
}

div > h1 {
	margin: 25px 0;
}

div > h2 {
	color: rgba(0,0,0,0.55);
	font-size: 13px;
	font-weight: 400;
	margin: 0;
    padding: 25px 25px 0;
}

div > h3 {
	color: rgba(0,0,0,0.55);
	font-size: 18px;
	font-weight: 500;
	margin: 0;
    padding: 5px 25px 15px;
}

body > div:nth-child(1) {
	text-align: center;
}

body > div:nth-child(n + 2) {
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
	height: 78px;
	margin: 10px 5%;
	overflow: hidden;
}

li {
	margin: 5px 0;
}

li > span {
	display: inline-block;
	width: 200px;
}

li a[class^="btn"] {
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-size: 0.9rem;
	padding: 10px 15px;
	text-align: center;
	width: 140px;
}

li a[class^="btn"]:hover,
li a[class^="btn"]:focus {
	border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
	text-decoration: none;
} 

.btn-codify-secondary {
	background-color: #1abc9c;
	border: 1px solid #1ccaa7;
	transition: 0.3s all ease-in-out;
}

.btn-codify-secondary:focus,
.btn-codify-secondary:hover {
	background-color: #1ccaa7;
	border: 1px solid #1abc9c;
}

.btn-codify-primary {
	background-color: #3E4246;
    border: 1px solid #54595f;
    transition: 0.3s all ease-in-out;
}

.btn-codify-primary:focus,
.btn-codify-primary:hover  {
	background-color: #54595f;
    border-color: #3E4246;
}

.currentElement {
	height: 100% !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}





@media (max-width:650px) {
	li > span {
		display: block;
	}
	div > h1 {
		font-size: 1.5rem;
	}
}

@media (max-width:580px) {
	div > h2 {
		font-size: 12px;
	}
	div > h3 {
		font-size: 14px;
	}
	li a[class^="btn"] {
		width: 87%;
    	margin-bottom: 5px;
	}
	body > div:nth-child(n + 2) {
		margin: 10px 2%;
	}
}